<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Detail RPS</title>

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center my-3" href="adminlistrps.html">
                <div class="sidebar-brand-img">
                    <p>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/01/Logo_Unand.svg/1200px-Logo_Unand.svg.png" width="60" lenght ="50"/>
                      </p>
                    
                </div>
                <div class="sidebar-brand-text mx-1">UNIVERSITAS ANDALAS</div>
                
            </a>

            </a>
            <div class="sidebar-brand text-center">
                <u>MAHASISWA</u><br/>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>
                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <container class="container-fluid">
<<<<<<< HEAD
        <h5>Nama Mata Kuliah: <%= course.name %></h5>
          <h5>Kode Mata Kuliah: <%= course.code %></h5>
          <h5>Dosen Pengampu: <% dosen.forEach((d,i)=>{ %>
            <%= d.lecturer.name %>,
          <%  }) %></h5>
          <h5>Semester: <%=course.semester%></h5>
          <h5>Bobot SKS: <%=course.credit%></h5>
        </div>
        &nbsp;
=======
                        <h1>PEMROGRAMAN WEB</h1>&nbsp;
                        <h3>Deskripsi</h3>
                        <p>Pemrograman Web adalah Mata Kuliah yang mengajarkan proses atau cara untuk menjalankan intruksi pada sebuah komputer yang terhubung ke internet untuk membuat fungsi atau tugas tertentu, dan dalam menjalankan sebuah program di dalam web itu melalui web browser seperti: Mozilla, Opera, Chrome, dan lain lain.</p>
                        <p>SKS : 3</p>
                        <p>Dosen Pengampu : Husnil Kamil MT</p>&nbsp;
>>>>>>> c9f42a41d651506f54f5ba4225d8551e9d5c1879

        <div style="margin:0px 20px ;">
          <h5>Deskripsi Mata Kuliah</h5>
          <p>
            <% if (course.description){ %>
              <%=course.description%>.
            <% }else { %>
              Deskripsi Belum ada
            <% } %>
          </p>
        </div>
        &nbsp;

        <div style="margin:0px 20px ;">
          <h5>Peta CPL ke CPMK</h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">CP Program Studi</th>
                <th scope="col">Keterangan</th>
              </tr>
            </thead>
            <tbody>
              <% cpl.forEach((c,i)=>{%>
              <tr>
                <th scope="row"><%= c.code %></th>
                <td><%= c.name %></td>
              </tr>
              <% }) %>
            </tbody>
          </table>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">CP Mata Kuliah</th>
                <th scope="col">Keterangan</th>
              </tr>
            </thead>
            <tbody>
              <% cpmk.forEach((cp,a)=>{ %>
              <tr>
                <th scope="row"><%=a+1%></th>
                <td><%= cp.name %>. 
                  <!-- (
                  <% cpl.forEach((c,i)=>{%>
                    <%= cp.course_lo_details.curriculum_lo_id %>
                  <% }) %>
                ) -->
              </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        &nbsp;

        <div style="margin:0px 20px ;">
          <h5>Referensi Utama</h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Referensi</th>
              </tr>
            </thead>
            <tbody>
              <% ref.forEach((r,i)=>{%>
              <tr>
                <th scope="row"><%=i+1%></th>
                <td><%=r.author%>, <%=r.year%>, “<%=r.title%>”, <%=r.publisher%></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
        &nbsp;

        <div style="margin:0px 20px ;">
          <h5>Komponen Penilaian</h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Penilaian</th>
                <th scope="col">Bobot</th>
              </tr>
            </thead>
            <tbody>
              <% asses.forEach((a,i)=>{%>
              <tr>
                <th scope="row"><%=i+1%></th>
                <td><%=a.name%></td>
                <td><%=a.percentage%>%</td>
              </tr>
              <%})%>
            </tbody>
          </table>
        </div>
        &nbsp;

        <div style="margin:0px 20px ;">
          <h5>Pertemuan Mingguan</h5>
          <table class="table table-bordered">
            <thead>
              
              <tr>
                <th scope="col">Minggu ke-</th>
                <th scope="col">Kemampuan akhir yang diharapkan</th>
                <th scope="col">Bahan Kajian (Materi Ajar) dan Referensi</th>
                <th scope="col">Metode Pembelajaran dan Alokasi Waktu</th>
                <th scope="col">Pengalaman Belajar Mahasiswa</th>
               
              </tr>
            </thead>
            <tbody>
              <% weekMeet.forEach((w,i)=>{ %>
              <tr>
                <th scope="row"><%=i+1%></th>
                <td>
                  <%=cpmk[i].name%>
                </td>
                <td><%=w.material%></td>
                <td><%=w.method%></td>
                <td><%=w.student_experience%></td>
                
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </section>
            <!-- End of Content Wrapper -->

        </div>

        </div>
            <!-- End of Page Wrapper -->
           
            <!-- Scroll to Top Button-->
            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <!-- Logout Modal-->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                        </div>
                        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-primary" href="/">Logout</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bootstrap core JavaScript-->
            <script src="vendor/jquery/jquery.min.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="js/sb-admin-2.min.js"></script>

            <!-- Page level plugins -->
            <script src="vendor/datatables/jquery.dataTables.min.js"></script>
            <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

            <!-- Page level custom scripts -->
            <script src="js/demo/datatables-demo.js"></script>

</body>

</html>